<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Enterprise API Automation Suite">
    <test name="API Tests">
        <classes>
            <class name="com.api.automation.tests.gorest.GoRestSmokeTest"/>
            <class name="com.api.automation.tests.petstore.PetStoreSmokeTest"/>
            <class name="com.api.automation.tests.gorest.users.UserCrudTest"/>
            <class name="com.api.automation.tests.gorest.users.UserNegativeTest"/>
            <class name="com.api.automation.tests.gorest.posts.PostCrudTest"/>
        </classes>
    </test>
</suite>